################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/4L.Core.Entities/obj
/.vs/4LCore/v14
/.vs/4LCore/v15
/4L.Core.Entities/bin
/4L.Core.Entities.Test/bin
/4L.Core.Entities.Test/obj
